@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');


@media (min-width: 769px) {

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        background: #2A3740;


    }



    .logo {
        width: 0.8125rem;
        height: 0.8125rem;
        margin-left: 1rem;


    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 2rem;
        margin-top: 1rem;

    }




    nav {
        display: inline-flex;
        gap: 2.49281rem;
        box-sizing: border-box;


    }

    a {

        margin: 0.2rem 0.2rem;
        width: 5.5rem;
        height: 1.2rem;
        flex-direction: column;
        justify-content: center;



        color: var(--vermelho, #F24B4B);
        text-align: center;
        font-family: Roboto;
        font-size: 0.9rem;
        font-style: 0.743rem;
        font-weight: 500;
        line-height: 0.875rem;
        text-decoration: none;
        background: transparent;

        border-radius: 2.17456rem;
        padding: 0.7rem 1.06075rem;
        border: 0.849px solid var(--red-pink, #FF5B79);


    }

    a:hover {
        color: #FFF;
        box-shadow: 0 10px 19px rgba(0, 0, 0, 0.80);
        transition: box-shadow 0.3s ease;

        background-color: #F24B4B;

    }

    .sub {

        margin: 6rem 2rem 1rem 4.81rem;
        color: var(--Red-Pink, #FF5B79);
        font-family: Poppins;
        font-size: 1.06075rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.03181rem;
        text-transform: uppercase;
    }

    .titulo {
        padding: 1rem 4.6rem;

        color: #A2D4F2;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Poppins;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 900;
        line-height: 109%;
        /* 3.93119rem */
    }
    .titulo-e{
        padding: 1rem 1.6rem;
        align-items: center;
        justify-content: center;
        display: flex;
        text-align: center;
        color: #F24B4B;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Poppins;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 900;
        line-height: 109%;
    }




    .imagemp {
      
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            width: 24rem;
            height: 20rem;
        }

    }





    .texto {

        align-items: center;
        justify-content: center;
        display: flex;
        text-align: center;

        color: #A2D4F2;
        font-family: Poppins;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
       
        /* 1.5275rem */
        margin-top: 1rem;


    }
    .icone{
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
        
    }

  

    .mobile {

        display: none;

    }


}









@media (max-width: 768px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        background: #2A3740;
    }

    .mobile {
        position: relative;
        margin-left: 1rem;
        
    }
    
    
    .mobile .menu {
        display: flex;
        justify-content: left;
        
        margin-bottom: 1rem;
        

    }
    .topo{
        justify-content: center;
        text-align: center;
        color: var(--Red-Pink, #FF5B79);
        font-family: Poppins;
        font-size: 0.9rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.03181rem;
        text-transform: uppercase;
        margin: 0.4rem 1rem;

       
    }

    
    nav a {
        text-decoration: none;
        color: var(--Red-Pink, #FF5B79);
        font-family: Poppins;
        font-size: 0.9rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.03181rem;
        text-transform: uppercase;
        padding: 0.3rem 1.3rem;
        
    }

    a:hover{
        background-color: #F24B4B;
        color: white;
    }

    .hr{
        width: 50%;
        margin-bottom: 1rem;
        margin-top: 0.3rem;
        color: var(--Red-Pink, #FF5B79);
    }

    .options {
        border: 1px solid #444;
        translate: -116%;
        position: absolute;
        background-color:#2A3740;
        top: 4.5625rem;
        
        
    
        transition: translate .6s;
    }

    
    .options nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 13rem;
        height: 13rem;
        justify-content: space-between;
        margin-bottom: 2rem;
        margin-top: 1rem;
        
        
       
    }
    
    .options.open {
        translate: 0;
        border: 2px #A2D4F2 solid;
        border-radius: 5px;
        box-shadow: 0 10px 19px rgba(0, 0, 0, 0.80);
        transition: box-shadow 0.3s ease;
        
       
    }

    .nv{
        display: flex;
        align-items: center;
    }
        

    


 

    .navbar {
        display: none;
    }



    .sub {

        color: var(--Red-Pink, #FF5B79);
        font-family: Poppins;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.03181rem;
        text-transform: uppercase;

    }
    h2 {
        
        font-size: 1.8rem;
        color: #A2D4F2;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Poppins;
        
        font-style: normal;
        font-weight: 700;
        line-height: 120%;

        max-width: 90%;
    }

  
    .titulos {
        margin-left: 1rem;
        display: flex;

        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.74256rem;

    }

    .imagemp {
        margin: 2rem 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
       
        
        


    }
    
    .texto{
        display: flex;
        justify-content: center;
        align-items: center;
    }

   

    .fundo-botao {

        margin-bottom: 5rem;
        position: relative;
        text-align: center;
    }

    .botao {
        position: absolute;
        top: 50%;
        /* Move o botão para o centro vertical */
        left: 50%;
        /* Move o botão para o centro horizontal */
        transform: translate(-50%, -70%);

        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border: none;
        background: transparent;

        a {
            background: transparent;
            text-decoration: none;
            color: #FFF;
            font-family: Poppins;
            font-size: 1rem;
            border: none;
        }

        a:hover {
            border: none;
            box-shadow: none;
            transition: none;
        }

        .titulo-e{
            padding: 1rem 1.6rem;
            align-items: center;
            justify-content: center;
            display: flex;
            text-align: center;
            color: #F24B4B;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-family: Poppins;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 900;
            line-height: 109%;
        }
     

    }







}