@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');


@media (min-width: 769px) {

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        background: #2A3740;


    }



    .logo {
        width: 0.8125rem;
        height: 0.8125rem;
        flex-shrink: 0;



    }

    .navbar {
        display: flex;
        align-items: center;
        margin-left: 40%;



    }




    nav {
        display: inline-flex;
        align-items: center;
        gap: 2.49281rem;
        box-sizing: border-box;

        margin-top: 1rem;
    }

    a {

        margin: 0.2rem 0.2rem;
        width: 5.5rem;
        height: 1.2rem;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;


        color: var(--vermelho, #F24B4B);
        text-align: center;
        font-family: Roboto;
        font-size: 0.9rem;
        font-style: 0.743rem;
        font-weight: 500;
        line-height: 0.875rem;
        text-decoration: none;
        background: transparent;

        border-radius: 2.17456rem;
        padding: 0.7rem 1.06075rem;
        border: 0.849px solid var(--red-pink, #FF5B79);


    }

    a:hover {
        color: #FFF;
        box-shadow: 0 10px 19px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.3s ease;

        background-color: #F24B4B;

    }

    .sub {
        width: 23.602rem;
        height: 1.59113rem;
        margin: 7rem 2rem 2rem 4.81rem;
        color: var(--Red-Pink, #FF5B79);
        font-family: Poppins;
        font-size: 1.06075rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.03181rem;
        text-transform: uppercase;
    }

    .titulo {

        margin: 1.8rem 1rem 2rem 4.41rem;

        color: #A2D4F2;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Poppins;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 900;
        line-height: 109%;
        /* 3.93119rem */
    }




    .imagemp {
        width: 27.75rem;
        height: 22.4375rem;
        flex-shrink: 0;


        margin: 1.25rem 20.13rem 5rem 20.12rem;


    }



    .texto {

        height: 9.25rem;
        flex-shrink: 0;

        color: #A2D4F2;
        font-family: Poppins;
        font-size: 1.3rem;
        font-style: normal;
        font-weight: 400;
        line-height: 180%;
        /* 1.5275rem */

        margin: 2.38rem 5.38rem 20rem 6.38rem;
    }

   
    }

    .mobile-navbar {

        display: none;

    }












@media (max-width: 768px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        background: #2A3740;
    }

    .mobile-navbar {
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1px 2px;
        margin-left: 13rem;
        margin-top: 1rem;
    }

    .menu-m {
        background-color: transparent;
        border: none;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
    }

    .mobile-menu {
        display: none;
        background-color: #333;
        color: #fff;
        position: absolute;
        top: 50px;
        right: 0;
        width: 100%;
        text-align: center;
    }

    .mobile-menu.active {
        display: block;
    }

    .mobile-menu ul {
        list-style: none;
        padding: 0;
    }

    .mobile-menu li {
        padding: 15px 0;
    }

    .mobile-menu a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        transition: color 0.4s;
    }


    .mobile-menu a:hover {
        color: #ff9900;
    }


    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;




        &img {
            max-width: 100%; 
            max-height: 100%;
        }
    }

    .navbar {
        display: none;
    }



    .sub {

        height: 1.59113rem;
        flex-shrink: 0;

        margin-top: 2.69rem;
        margin-left: 0.94rem;
        margin-right: 0.16rem;
        margin-bottom: 0.6rem;



        color: var(--Red-Pink, #FF5B79);
        font-family: Poppins;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.03181rem;
        text-transform: uppercase;

    }

    .titulo {



        color: #A2D4F2;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Poppins;
        font-size: 2rem;
        font-style: normal;
        font-weight: 900;
        line-height: 170%;
        
    }

    .titulos {
        margin-left: 1rem;
        display: flex;

        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.74256rem;
        flex-shrink: 0;
    }

    .imagemp {
        display: flex;
        justify-content: center;

        height: 50vh;
        margin: 3rem 1rem 1rem 1rem;


        &img {
            max-width: 100%;
            max-height: 100%;

        }
    }

    .texto {
        width: 100%;
        height: 9.125rem;
        flex-shrink: 0;
        padding: 1rem;
        text-align: left;
        margin: 1.5rem 3.06rem 20.13rem 0.2rem;

        color: #A2D4F2;
        font-family: Poppins;
        font-size: 0.8rem;
        font-style: normal;
        font-weight: 200;
        line-height: 180%;
        
    }



   
    







}